<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="box" style="height: 100%">
    <div id="container" style="height: 100% ;width:100%" @click="geic()"></div>
    <div id="container1" style="height: 100% ;width:100%" ></div>
</div>
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/axios.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/pro/echarts.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/modules/mis/mispic.js"></script>


</body>
</html>