<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>织梦心测</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--引入sui-->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <!--引入bootstrap-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--自定义样式-->
    <!--若是加上后端，则路径要改-->
    <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/pro/search.css">

</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->

<div class="page">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <a href="javascript:window.history.back()" class="icon icon-left pull-left .close-panel"></a>
        <h1 class="title">织梦心测</h1>
    </header>

    <!-- 底部工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active  external" href="${request.contextPath}/modules/pro/first2.html">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item  external" href="${request.contextPath}/modules/pro/fenlei2.html">
            <span class="icon icon-menu"></span>
            <span class="tab-label ">分类</span>
        </a>
        <a class="tab-item  external" href="${request.contextPath}/modules/pro/consult.html">
            <span class="icon icon-settings"></span>
            <span class="tab-label ">咨询</span>
        </a>
        <a class="tab-item external" href="${request.contextPath}/modules/pro/wode1.html">
            <span class="icon icon-me"></span>
            <span class="tab-label ">我的</span>
        </a>
    </nav>

    <!-- 这里是页面内容区 -->
    <div class="content">
        <!--搜索框-->
        <div class="searchbar row" id="ssr">
            <a class="search-input col-80">
                <label class="icon icon-search" for="search"></label>
                <input type="search" id='search' v-model="searchVal" @keyup.enter="search1" placeholder='输入关键字...'/>
            </a>
            <a id="ss" @click="search1" class="button button-fill button-primary col-20"
               style="margin-left:2px;">搜索</a>   <!--点击-->
        </div>

        <div id="jingxuan" v-if="show">
            <!--推荐搜索-->
            <div style="margin-left:10px;height:60px;">
                <h4 style="color: grey;top:5px;">推荐搜索</h4>
                <a external :href="'../../modules/pro/test1.html?id='+v.id+'&cid='+v.cid"
                   style="border:solid 1px #a0a0a0;margin-right:4px;display:inline-block;margin-bottom:6px;border-radius: 1px;padding:8px 12px 8px 12px;color: #585858;"
                   v-for="(v,i) in JXTest">{{JXTest[i].title}}</a>

            </div>
            <!--热门推荐-->
            <div style="margin-top:85px;">
                <h4 style="color: grey;top:5px;margin-left:10px;">热门推荐</h4>
                <div class="aui-six-list" v-cloak>
                    <div class="card-content">
                        <div class="list-block media-list"
                             style="margin: 0% 4% 3% 4%;padding-top:10px;">
                            <ul style="margin-bottom: 3%;border-radius: 5px;"
                                v-for="v in JXTest">
                                <li class="item-content">
                                    <a external :href="'../../modules/pro/test1.html?id='+v.id+'&cid='+v.cid">
                                        <div class="item-inner">
                                            <div class="aui-six-img" style="display: inline-block">
                                                <img :src="v.imgsrc" alt=""
                                                     style="width: 90px;height: 90px;border-radius: 4px;display: flex; -webkit-align-items:center">
                                            </div>
                                            <div class="aui-flex-box" style="display: inline-block;margin-left:10px;">
                                                <h4>{{v.title}}</h4>

                                                <span class="jingmoney">￥{{v.price}}</span>

                                                <span class="jingyice">{{v.testnumber}}已测</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="searchlist" v-if="show1">
            <h4 style="color: grey;top:5px;margin-left:10px;">搜索内容</h4>
            <div class="aui-six-list" v-cloak>
                <div class="card-content">
                    <div class="list-block media-list"
                         style="margin: 0% 4% 3% 4%;padding-top:10px;">
                        <ul style="margin-bottom: 3%;border-radius: 5px;"
                            v-for="v in SList">
                            <li class="item-content">
                                <a external :href="'../../modules/pro/test1.html?id='+v.id+'&cid='+v.cid">
                                    <div class="item-inner">
                                        <div class="aui-six-img" style="display: inline-block">
                                            <img :src="v.imgsrc" alt=""
                                                 style="width: 90px;height: 90px;border-radius: 4px;display: flex; -webkit-align-items:center">
                                        </div>
                                        <div class="aui-flex-box" style="display: inline-block;margin-left:10px;">
                                            <h4>{{v.title}}</h4>

                                            <span class="jingmoney">{{v.price}}</span>

                                            <span class="jingyice">{{v.testnumber}}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</div>

</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<!--引入vue-->
<!--将vue.js导入包放在<script>调用前网络加载会更快。：验证：打开网页，F12-> network->Online->SLOW 3G->刷新可以很慢的看到插件表达式内容-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
<!--引入JS-->
<script src="${request.contextPath}/statics/js/first.js"></script>
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/libs/axios.min.js"></script>
<script src="${request.contextPath}/statics/js/modules/pro/search.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/js/wx.js"></script>
</body>
</html>
