<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admins/adminsHeader::html('创建新用户')" ></head>

<body>
<div th:replace="include/admins/adminsNavigator::html" ></div>

<div id="addworkingArea">
    <div class="badge badge-info adduser" >修改用户信息</div>
        <form class="addform" th:action="@{/admins/modifyUser}" method="post" th:object="${user}">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="form-group">
                <label for="username">用户名</label> <input type="text" class="form-control" name="username" id="username" th:value="*{username}">
            </div>
            <div class="form-group">
                <label for="password">用户密码</label> <input type="password" class="form-control" name="password" id="password" th:value="*{password}">
            </div>
            <div class="form-group">
                <label for="authorities" class="col-form-label">角色</label>
                <select id="authorities" name="authorityId" class="form-control form-control-chosen" data-placeholder="请选择">
                    <option value="1" data-th-selected="${#strings.contains(user.authorities[0],'ROLE_ADMIN')}">管理员</option>
                    <option value="2" data-th-selected="${#strings.contains(user.authorities[0],'ROLE_USER')}">用户</option>
                </select>
            </div>
            <span class="errorMsg" th:text="${errorMsg}"></span>
            <a class="btn btn-primary" href="/admins/listUsers" th:href="@{/admins/listUsers}" role="button">返回</a>
            <input type="submit" class="btn btn-info addsubmit" value="提交"  onclick="return modify()">
        </form>
</div>
<div th:replace="include/admins/adminsFooter::html" ></div>
</body>
</html>